[Unit]
Description=FerrisChat Server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ferrischat_server /etc/ferrischat/config.toml
ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=30
Restart=on-failure
OOMPolicy=kill
User=fc
WorkingDirectory=/etc/ferrischat
OOMScoreAdjust=-999
ProtectSystem=true
ProtectHome=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
